body {
  background-color: #dadada;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
/* =reservations
---------------------------------------------------- */
.press-image { 
  margin-right:8px;
}
.hours {
  float:left; 
  width:477px; 
  height:75px; 
  cursor: pointer;
}
.hour {
  font-size:9px; 
  float:left; 
  width:41px;
  height:50px;  
  margin-left:1px; 
  margin-right:1px; 
  text-align:center;
  color:#000000;
}
.open {
  background: url("pepper-grinder/images/ui-bg_fine-grain_10_eceadf_60x60.png") repeat scroll 50% 50% #ECEADF;
  color:#000000;
}
.cancelled {
  background: url("images/cancelled.png") repeat scroll 50% 50% #ECEADF;
  color:#000000;
}
.reserved {
  background: url("images/reserved.png") repeat scroll 50% 50% #ECEADF;
  color:#000000;
}
.selected {
  background: url("images/selected.png") repeat scroll 50% 50% #ECEADF;
  color:#000000;
}
.press-name { 
  font-weight:bold; 
}
.owned { 
  background: url("images/owned.png") repeat scroll 50% 50% #ECEADF;
}
#inline-login { 
  float:left; 
  padding:10px; 
  width:232px; 
  
}
#datepicker {
  float:left; 
  margin-right:20px; 
}
label {
  font-weight:bold;
}

#tooltip { 
    display:none; 
    background-color:#ffffff;
    font-size:12px; 
    height:70px; 
    width:160px; 
    padding:25px; 
    color:#000;     
}

/* sidebar hours */
div#studio-hours-box {
  font-size:10px;
  color:#000000;
  text-align:left;
  margin-left:5px;
  border:1px solid #d9ffff;
  padding:5px;
  margin-top:5px;
  }
 div.studio-hours-day {
   float:left; 
   width:20px;
   font-weight:bold;
 }