<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{if embed:title}{embed:title} | {/if}The Arm Letterpress</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/corelibs/modernizr-2.0.6.min.js"></script>
</head>

<body {if embed:body_id}id="{embed:body_id}"{/if} class="{if embed:body_class}{embed:body_class}{/if}">
  <header class="clear fix">
    <nav class="clearfix">
  		<ul id="topnav" class="clearfix">
  	    <li><a href="/" id="home-nav">Home</a></li>
  			<li><a href="/about" id="about-nav">About</a></li>
  			<li><a href="/goods-services" id="goods-nav">Goods &amp; Services</a></li>
  			<li><a href="/classes-workshops" id="classes-nav">Classes &amp; Workshops</a></li>
  			<li><a href="/news" id="news-nav">News</a></li>
  			<li><a href="/events" id="events-nav">Events</a></li>
        <li><a href="/calendar" class="button" id="book-nav"><span class="text">Book a Press</span> <span class="arrow">></span></a></li>
  		</ul>
  	</nav>
  	<div id="logo">
  		<h1><a href="/">The Arm Letterpress</a></h1>
  		<address>281 North 7th Street, Brooklyn, NYC</address>
  	</div>
  </header>
    <div id="main" role="main" class="clearfix wrapper">
    <div id="content">
     
      <%= yield %>
    </div><!-- /#content -->
    </div><!-- /#main --> 
  
  
  
      <footer class="clearfix">
      	<div class="wrapper">
        	<div id="location" class="clearfix">
        		<a href="http://maps.google.com/maps?q=281+North+7th+Street,+Williamsburg,+Brooklyn,+NY&hl=en&view=map&cid=12185876289038148920&t=m&z=16&vpsrc=0&iwloc=A" target="_blank"><img src="/images/design/footer/map-image-circle.png" alt="Google Map image" /></a>
      			<p id="address">
      				<span class="title">The Arm Letterpress</span>
      				<span class="street">281 North 7th Street,</span>
      				<span class="city-state">Williamsburg, Brooklyn, NY</span>
      				<a href="http://maps.google.com/maps?q=281+North+7th+Street,+Williamsburg,+Brooklyn,+NY&hl=en&view=map&cid=12185876289038148920&t=m&z=16&vpsrc=0&iwloc=A" target="_blank" class="button"><span class="text">Get Directions</span> <span class="arrow">></span></a>
      				{exp:md_spam_me_not email='dan@thearmnyc.com' mode='1' class='button' subject='[via Website]: ' text='<span class="text">Contact</span> <span class="arrow">></span>'}
      			</p>
        	</div>
      		<ul>
      			<li>
      				<span class="title"><a href="#">Classes &amp; Workshops</a></span>
      				<ul>
      					<li><a href="#">Letterpress on the Vandercook &amp; C&amp;P Pilot</a></li>
      					<li><a href="#">Wood Type Intensive</a></li>
      					<li><a href="#">Advanced Printing on the Vandercook</a></li>
      				</ul>
      			</li>
      			<li>
      				<span class="title"><a href="/classes-workshops">Studio<br />Hours</a></span>
      				<ul>
      					<li>Wednesday: 6PM - 10PM</li>
      					<li>Thursday: 12PM - 10PM</li>
      					<li>Friday: 12PM - 10PM</li>
      					<li>Saturday: 11AM - 8PM</li>
      				</ul>
      			</li>
         	</ul>

       		<p id="footer-about">
      			<br />
      			<span class="title">About The Arm</span>
      			<span>The Arm is a public access letterpress studio, teaching facility &amp; commercial print shop in Williamsburg, Brooklyn.</span>
      			<a href="/about" class="button"><span class="text">Read More</span> <span class="arrow">></span></a>
      		</p>
      	</div><!-- /.wrapper -->
      </footer>


      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/js/corelibs/jquery-1.7.1.min.js"><\/script>')</script>  
      <script type="text/javascript" src="http://use.typekit.com/vux0aos.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


      <script src="/js/plugins.js"></script>
      <script src="/js/script.js"></script>

      <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
           mathiasbynens.be/notes/async-analytics-snippet
      <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>  
      -->

      <!--[if lt IE 7 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
      <![endif]-->

    </body>
    </html>
